{% extends "layout.html" %}
{% block body %}
     <div class="container mt-5">
  <form action="{{ url_for('update_entry') }}" method="post" class="add-entry">
    <dl>
      <dt class="form-label">Title:
      <dd><input class="form-control" type="text" size="30" name="title" value="{{ title }}">
      <dt class="form-label">Text:
      <dd><textarea  class="form-control" name="text" rows="5" cols="40">{{ text }}</textarea>
        <dt class="form-label">Category:
        <dd><input class="form-control" type="text" size="30" name="category" value="{{ cat }}">
        <dd><input type="submit" class="btn btn-secondary" value="Submit edit">
    </dl>
   <input name="id" type="hidden" value="{{ id }}">
  </form>
     </div>
{% endblock %}